@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family: 'Poppins',sans-serif;

}

:root{
    --bg-color:#f8f8ba;
    --text-color:#C41E3A;
    --main-color:#1E90FF;
}
html,body{
    
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--main-color);
}

.heading{
    color: var(--text-color);
    width: 100%;
    height: 100px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
}
span{
    color: var(--main-color);
}
.fdiv{
    position: relative;
    height: 500px;
    width: 500px;
    padding: 1.5rem;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
   

}

 form{


    position: relative;
    padding-top: 1rem;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

input[type=text] {
  color: var(--text-color);
}

input[type=password] {
  color: var(--text-color);
}



.userdiv{
    position: relative;
    display: flex;
    font-size: 1em;
    padding: 5px;
    color: var(--main-color);
    position: relative;
    align-items: center;
    flex-direction: column;
    
}

.userdiv label{
    width: 100%;
}

.userdiv input{
    background: var(--bg-color);
    border: .3rem solid var(--main-color);
    height: 50px;
    width: 100%;
    margin: 2px;
    padding: 5px;
}

.userdiv input:focus{
    border: .3rem solid var(--main-color);
}
.userdiv h2{
    display: flex;
    justify-content: center;
}


.passdiv{
    position: relative;
    display: flex;
    font-size: 1em;
    padding: 5px;
    color: var(--main-color);
    position: relative;
    align-items: center;
    flex-direction: column;
    
}

.passdiv label{
    width: 100%;
}

.passdiv input{
    background: var(--bg-color);
    border: 5px solid var(--main-color);
    height: 50px;
    width: 100%;
    margin: 2px;
    padding: 5px;
}

.passdiv h2{
    display: flex;
    justify-content: center;
}

.logbtn{
    display: flex;
    padding: 10px ;
    width: 100%;
    height: 75px;
    justify-content: center;
}

.logbtn button{
    
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    font-size: 1.2rem;
    font-weight: bold;
    border: 5px solid var(--second-bg-color);
  
    
}

.rc{
    position: relative;
    display: flex;
    justify-content: space-between;

}


.remdiv 
{
   
    color: var(--text-color);
    height:50%;
    width: 42%;
    font-size: 0.9rem;


}

.cancel{
    width: 20%;
}
.cancelbtn{

    height: 35px;
    background-color: var(--main-color);
    border: 5px solid var(--second-bg-color);
    padding: 5px;
    font-weight: bold;

}





 @media(max-width:600px ){

  
    .heading{
        color: var(--text-color);
        width: 100%;
        height: 50px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .fdiv{
        position: relative;
        height: 70%;
        width: 70%;
        padding: 0.5rem;
        margin: 5px 5px;
        display: flex;
        justify-content: center;
        


    }
    form{
        width: 100%;
        font-size: 0.8rem;
    }

    .logbtn button{
    
        width: 50%;
        height: 70%;
        background-color: var(--main-color);
        font-size: 1rem;
        font-weight: bold;
        border: 3px solid var(--second-bg-color);
      
    }

    .rc{
    position: relative;
    display: flex;
    justify-content: space-between;

    }


    .remdiv 
    {
       color: var(--text-color);
        height:50%;
        width: 50%;
        font-size: 0.6rem;
    }

    .cancel{
        width: 20%;
    }
    .cancelbtn{
        height: 35px;
        background-color: var(--main-color);
        border: 5px solid var(--second-bg-color);
        padding: 5px;
        font-weight: bold;
    }

}





